<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="logDir" value="C:\Logs" />
    <add key="tempDir" value="W:\Test\Temp" />
    <add key="outputDir" value="D:\Convert\iPod Touch" />
    <add key="handBrakeLocation" value="C:\Program Files (x86)\Handbrake" />
    <add key="atomicParsleyLocation" value="D:\Convert\AtomicParsley" />
    <add key="episodeNameFormat" value="episode" /> <!--How to format episode name for display on iPod/iPhone values are: "episode" "both" "none"-->
  </appSettings>
</configuration>