<?xml version="1.0" encoding="utf-8" ?>
<Configuration>
  <TvRoot>C:\Test\TV</TvRoot>
  <TvTemplate>%sn\Season %0s\%sn - S%0sE%0e - %en.%ext</TvTemplate>
  <TvDailyTemplate>%t/%t - %y-%0m-%0d - %.desc.%ext</TvDailyTemplate>
  <VideoExt>.mkv;.avi;.wmv</VideoExt>
  <NzbDir>C:\test\nzb\imported\</NzbDir>
  <SabNzbdInfo>192.168.5.55:2222</SabNzbdInfo>
  <Username>admin</Username>
  <Password>pass</Password>
  <ApiKey>5c770e3197e4fe763423ee7c392c25d1</ApiKey>
  <Priority>1</Priority>
  <SabReplaceChars>true</SabReplaceChars>
  <DownloadQuality>xvid</DownloadQuality>
  <DownloadPropers>false</DownloadPropers>
  <Interval>20</Interval>
  <SyncOnStart>false</SyncOnStart>

  <!--These will be Deprecated-->
  <Rss>rss.config</Rss>
  <Alias>alias.config</Alias>
  <Quality>quality.config</Quality>
  <IgnoreSeasons>The Simpsons=20;The Office (US)=2</IgnoreSeasons>
  <VerboseLogging>false</VerboseLogging>
  <DeleteLogs>2</DeleteLogs>
</Configuration>