<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="tvDir" value="W:\Test"/>
    <add key="logDir" value="C:\Logs"/>
    <add key="nzbDir" value="W:\nzb\imported"/>
    <add key="sabnzbdInfo" value="192.168.5.55:2222"/>
    <add key="apiKey" value="5c770e3197e4fe763423ee7c392c25d1"/>
    <add key="tvSorting" value="%sn\Season %0s\%sn - S%0sE%0e - %en.%ext"/>
    <add key="tvDailySorting" value="%t\%t - %y-%0m-%0d - %desc.%ext"/>
    <add key="videoExt" value=".mkv;.avi;.wmv"/>
    <add key="username" value=""/>
    <add key="password" value=""/>
    <add key="priority" value="-1"/> <!--Values: -1/0/1 (Low/Normal/High)-->
    <add key="sabReplaceChars" value="true"/>
    <add key="ignoreSeasons" value="The Simpsons=20;Gossip Girl=2;The Hills=4;Without a Trace=7;Two and a Half Men=6;Law &amp; Order=14;One Tree Hill=6;Kath &amp; Kim (US)=10"/>
    <!--<add key="rssUrl" value="https://www.newzbin.com/search/?go=1&amp;ss=454082&amp;fpn=p&amp;feed=rss&amp;fauth=YOUR AUTH HERE"/>-->
    <add key="rssUrl" value="https://www.newzbin.com/search/?go=1&amp;ss=454082&amp;fpn=p&amp;feed=rss&amp;fauth=NTcwMTIwLTE2M2UyNDFmNDk2NmI3Y2M3NjIzODMzMGUzMGQ3Y2YyMzVlNmM3YTk%3D"/>
    </appSettings>
</configuration>