<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="tvRoot" value="D:\shares\TV" />
    <add key="tvTemplate" value="%sn\Season %0s\%sn - S%0sE%0e - %en.%ext" />
    <add key="tvDailyTemplate" value="%y-%0m-%0d/%t - %y-%0m-%0d - %.desc.%ext" />
    <add key="videoExt" value=".mkv;.avi;.wmv" />
    <add key="ignoreSeasons" value="The Simpsons=20;Gossip Girl=2;The Hills=4;Without a Trace=7;Two and a Half Men=6;Law &amp; Order=14;One Tree Hill=6;Kath &amp; Kim (US)=10" />
    <add key="nzbDir" value="D:\SABnzbd\nzb\imported" />
    <add key="sabnzbdInfo" value="192.168.5.55:2222" />
    <add key="username" value="" />
    <add key="password" value="" />
    <add key="apiKey" value="" />
    <add key="priority" value="1" />
    <!--Values: -1/0/1 (Low/Normal/High)-->
    <add key="sabReplaceChars" value="true" />
    <add key="rss" value="rss.config" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>