<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="tvDir" value="W:\Test"/>
    <add key="logDir" value="C:\Logs"/>
    <add key="nzbDir" value="W:\nzb\imported"/>
    <add key="sabnzbdInfo" value="192.168.5.55:2222"/>
    <add key="apiKey" value="5c770e3197e4fe763423ee7c392c25d1"/>
    <add key="userName" value=""/>
    <add key="password" value=""/>
    <add key="priority" value="-1"/> <!--Values: -1/0/1 (Low/Normal/High)-->
    <add key="category" value="Non-Newzbin Stuff"/>
    <add key="ignoreSeasons" value="The Simpsons=1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20;Gossip Girl=1,2;Lost (2004)=1,2,3"/>
    <add key="rssUrl" value="https://www.newzbin.com/search/?go=1&amp;ss=454082&amp;fpn=p&amp;feed=rss&amp;fauth=NTcwMTIwLTE2M2UyNDFmNDk2NmI3Y2M3NjIzODMzMGUzMGQ3Y2YyMzVlNmM3YTk%3D"/>
    </appSettings>
</configuration>