<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!--Common Settings-->
    <add key="logDir" value="C:\Logs"/>
    <!--Settings for Checking ISO with abgx360-->
    <add key="checkIso" value="true"/> <!--true will check the ISO, false will not--> 
    <add key="failedDir" value="X:\_Failed"/>
    <add key="wiiDir" value="X:\_Wii"/>
    <add key="passDir" value="X:\"/>
    <add key="requireSSv2" value="true"/>
    <add key="abgxOptions" value="-pchi --af3 --gamecrc --onlinefirst --myregion 000000FF --splitvid"/>
    <!--Settings for Extracting ISO for use with JTAG'd 360's-->
    <add key="extractIso" value="true"/>
    <add key="extractDir" value="X:\_Extracted"/>
    <!--Settings for XBLA/DLC-->
    <add key="dlcDir" value="X:\_DLC"/>
    <add key="xblaDir" value="X:\_XBLA"/>
  </appSettings>
</configuration>
