<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!--Where to Put the Log File-->
    <add key="logDir" value="C:\Logs" />
    <!--Location to Store copies for later conversion-->
    <add key="tempDir" value="C:\Temp" />
    <!--Show names you want to move-->
    <add key="shows" value="30 Rock;Dexter;It's Always Sunny in Philadelphia;Curb Your Enthusiasm;South Park;30 Rock" />
    <!--Extension of the files that should be considered as video files-->
    <add key="videoExt" value=".mkv;.avi;.wmv" />
    <!-- Filename Only (after the last slash)-->
    <add key ="filenameTemplate" value="%sn - S%0sE%0e - %en.%ext"/>
    <!-- Update XBMC Library?-->
    <add key ="updateXbmc" value="true"/>
    <!-- SABnzbd Full Path to TV Final Directory-->
    <add key ="downloadTvPath" value="D:\shares\TV"/>
    <!-- XBMC Path to TV Shows-->
    <add key ="xbmcTvPath" value="smb://homeserver/TV"/>
    <!-- XBMC Hostname/IP Address-->
    <add key ="xbmcInfo" value="192.168.5.35:8080"/>
    <!-- XBMC HTTP Username-->
    <add key ="xbmcUsername" value="xbmc"/>
    <!-- XBMC HTTP Password-->
    <add key ="xbmcPassword" value="xbmc"/>
  </appSettings>
</configuration>