<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="SABSync.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="SABSync.SABSync" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <!--<system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite" />
      <add name="SQLite Data Provider" invariant="System.Data.SQLite"
           description=".Net Framework Data Provider for SQLite"
           type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" />
    </DbProviderFactories>
  </system.data>-->
  <connectionStrings>
    <add name="SABSyncEntities" connectionString="metadata=res://*/SABSync.csdl|res://*/SABSync.ssdl|res://*/SABSync.msl;provider=System.Data.SQLite;provider connection string='data source=&quot;SABSync.db&quot;'" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <userSettings>
    <SABSync.Properties.Settings>
      <setting name="WindowLocation" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="WindowSize" serializeAs="String">
        <value>1000, 570</value>
      </setting>
      <setting name="TvRoot" serializeAs="String">
        <value>C:\Test\TV</value>
      </setting>
      <setting name="TvTemplate" serializeAs="String">
        <value>%sn\Season %0s\%sn - S%0sE%0e - %en.%ext</value>
      </setting>
      <setting name="TvDailyTemplate" serializeAs="String">
        <value>%t/%t - %y-%0m-%0d - %.desc.%ext</value>
      </setting>
      <setting name="VideoExt" serializeAs="String">
        <value>.mkv;.avi;.wmv</value>
      </setting>
      <setting name="NzbDir" serializeAs="String">
        <value>C:\Test\nzb\imported</value>
      </setting>
      <setting name="SabnzbdInfo" serializeAs="String">
        <value>192.168.5.55:2222</value>
      </setting>
      <setting name="Username" serializeAs="String">
        <value>admin</value>
      </setting>
      <setting name="Password" serializeAs="String">
        <value>pass</value>
      </setting>
      <setting name="ApiKey" serializeAs="String">
        <value>5c770e3197e4fe763423ee7c392c25d1</value>
      </setting>
      <setting name="Priority" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="SabReplaceChars" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DownloadQuality" serializeAs="String">
        <value>xvid;720p</value>
      </setting>
      <setting name="DownloadPropers" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Interval" serializeAs="String">
        <value>15</value>
      </setting>
      <setting name="SyncOnStart" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="VerboseLogging" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DeleteLogs" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="UpgradeRequired" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="olvShows" serializeAs="String">
        <value />
      </setting>
      <setting name="olvHistory" serializeAs="String">
        <value />
      </setting>
      <setting name="olvFeeds" serializeAs="String">
        <value />
      </setting>
      <setting name="olvUpcoming" serializeAs="String">
        <value />
      </setting>
    </SABSync.Properties.Settings>
    <SABSync.SABSync>
      <setting name="WindowLocation" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="WindowSize" serializeAs="String">
        <value>1000, 570</value>
      </setting>
    </SABSync.SABSync>
  </userSettings>
</configuration>