<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <appSettings>
  </appSettings>
  <connectionStrings>
    <add name="SABSyncEntities" connectionString="metadata=res://*/SABSync.csdl|res://*/SABSync.ssdl|res://*/SABSync.msl;provider=System.Data.SQLite;provider connection string='data source=&quot;SABSync.db&quot;'" providerName="System.Data.EntityClient"/>
  </connectionStrings>
</configuration>
