<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--TV Shows Root directory-->
    <add key="tvRoot" value="W:\Test\TV" />
    <!--Multiple Directories Separted by a Semi-Colon-->
    <!--TV Show naming format. you can copy this directly from SAB's sorting tab-->
    <add key="tvTemplate" value="%sn\Season %0s\%sn - S%0sE%0e - %en.%ext" />
    <!--Same as tvTemplate but for daily episodes that use date instead of seasons and episode number-->
    <add key="tvDailyTemplate" value="%t/%t - %y-%0m-%0d - %.desc.%ext" />
    <!--Extension of the files that should be considered as video files-->
    <add key="videoExt" value=".mkv;.avi;.wmv" />
    <!--Ignore list. use this to ignore seasons. that season and any seasons prior to that number are ignored. -->
    <add key="ignoreSeasons" value="The Simpsons=20;The Office (US)=2" />
    <!--Directory where SAB archives it's NZB files.-->
    <add key="nzbDir" value="S:\nzb\imported\" />
    <!--IP address and port of your SAB server-->
    <add key="sabnzbdInfo" value="192.168.5.55:2222" />
    <!--SAB's username-->
    <add key="username" value="admin" />
    <!--SAB's password-->
    <add key="password" value="myPass1" />
    <!--SAB's API Key-->
    <add key="apiKey" value="5c770e3197e4fe763423ee7c392c25d1" />
    <!--Queue priority of the shows added using this program. -1/0/1 (Low/Normal/High)-->
    <add key="priority" value="1" />
    <!--Whether or not you have set SAB to replace illegal characters.-->
    <add key="sabReplaceChars" value="true" />
    <!--Download Quality for TVnzb-->
    <add key="downloadQuality" value="xvid;720p" />
    <!--Download Quality use: xvid or 720p (all in lower-case), leaving both will download the first one it finds -->
    <!--Should PROPERs be download? Will Delete Non-proper from disk-->
    <add key="downloadPropers" value="true" />
    <!--RSS list file name-->
    <add key="rss" value="rss.config" />
    <!--Alias list file name-->
    <add key="alias" value="Alias.config" />
    <!--Alias list file name-->
    <add key="quality" value="Quality.config" />
    <!--Verbose Logging-->
    <add key="verboseLogging" value="false" />
    <!--HTML Logging-->
    <add key="htmlLogging" value="true" />
    <!--Delete Logs-->
    <add key="deleteLogs" value="2" />
    <!-- Delete logs for SABSync after X days, setting to 0 will keep logs forever.-->
  </appSettings>
</configuration>