<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Server" value="192.168.5.111" />
    <add key="Port" value="9777" />
    <add key="UpdateLibrary" value="true" />
    <add key="CleanLibrary" value="false" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
</configuration>