<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="tvRoot" value="D:\shares\TV"/>
    <add key="tvTemplate" value="%sn\Season %0s\%sn - S%0sE%0e - %en.%ext"/>
    <add key="tvDailyTemplate" value="%y-%0m-%0d/%t - %y-%0m-%0d - %.desc.%ext"/>
    <add key="videoExt" value=".mkv;.avi;.wmv"/>

    <add key="ignoreSeasons" value="The Simpsons=20;Gossip Girl=2;The Hills=4;Without a Trace=7;Two and a Half Men=6;Law &amp; Order=14;One Tree Hill=6;Kath &amp; Kim (US)=10"/>
    <add key="nzbDir" value="D:\SABnzbd\nzb\imported"/>

    <add key="sabnzbdInfo" value="192.168.5.55:2222"/>
    <add key="username" value=""/>
    <add key="password" value=""/>
    <add key="apiKey" value=""/>
    <add key="priority" value="1"/>
    <!--Values: -1/0/1 (Low/Normal/High)-->
    <add key="sabReplaceChars" value="true"/>
    <add key="rss" value="rss.config"/>
  </appSettings>
</configuration>