<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="logDir" value="C:\Logs" />
    <add key="tempDir" value="P:\" />
    <!--<add key="outputDir" value="D:\Convert\iPod Touch" />-->
    <add key="outputDir" value="W:\Test" />
    <add key="handBrakeLocation" value="C:\Program Files (x86)\Handbrake" />
    <!--Capitalization and Spacing matters! If the preset contains a "&" (ampersand) use AND instead-->
    <add key="handBrakePreset" value="iPhone AND iPod Touch" /> <!--iPhone & iPod Touch = iPhone AND iPod Touch-->
    <add key="atomicParsleyLocation" value="D:\Convert\AtomicParsley" />
    <add key="episodeNameFormat" value="episode" /> <!--How to format episode name for display on iPod/iPhone values are: "episode" "both" "none"-->
    <add key="videoExt" value=".mkv;.avi;.wmv"/>
  </appSettings>
</configuration>