<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--RSS list file name-->
    <add key="consoleCategories" value="ConsoleCategories.config" />
    <!--Alias list file name-->
    <add key="alias" value="Alias.config" />
    <!--Verbose Logging-->
    <add key="verboseLogging" value="false" />
    <!--Verbose Logging-->
    <add key="deleteLogs" value="2" />
    <!-- Delete logs for SABSync after X days, setting to 0 will keep logs forever.-->
  </appSettings>
</configuration>