<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="tvRoot" value="Z:\TV Shows"/>
    <add key="tvTemplate" value="%sn\Season %s\S%0sE%0e - %en.%ext"/>
    <add key="tvDailyTemplate" value="%t\%t - %y-%0m-%0d - %desc.%ext"/>
    <add key="videoExt" value=".mkv;.avi;.wmv"/>

    <add key="ignoreSeasons" value="The Simpsons=20;Gossip Girl=2;The Hills=4;Without a Trace=7;Two and a Half Men=6;Law &amp; Order=14;One Tree Hill=6;Kath &amp; Kim (US)=10"/>
    <add key="nzbDir" value="Z:\TV Shows"/>

    <add key="sabnzbdInfo" value="whs:8080"/>
    <add key="username" value="root"/>
    <add key="password" value="deltaforce"/>
    <add key="apiKey" value="5c770e3197e4fe763423ee7c392c25d1"/>
    <add key="priority" value="-1"/> <!--Values: -1/0/1 (Low/Normal/High)-->
    <add key="sabReplaceChars" value="true"/>
        
    <!--<add key="rssUrl" value="https://www.newzbin.com/search/?go=1&amp;ss=454082&amp;fpn=p&amp;feed=rss&amp;fauth=YOUR AUTH HERE"/>-->
    <add key="rssUrl" value="https://www.newzbin.com/search/?go=1&amp;ss=454082&amp;fpn=p&amp;feed=rss&amp;fauth=NTcwMTIwLTE2M2UyNDFmNDk2NmI3Y2M3NjIzODMzMGUzMGQ3Y2YyMzVlNmM3YTk%3D"/>
    </appSettings>
</configuration>