<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="tvDir" value="C:\Test"/>
    <add key="logDir" value="C:\Logs"/>
    <add key="nzbDir" value="C:\nzb\imported"/>
    <add key="sabnzbdInfo" value="192.168.5.55:2222"/>
    <add key="apiKey" value="API KEY HERE"/>
    <add key="tvSorting" value="%sn\Season %0s\%sn - S%0sE%0e - %en.%ext"/>
    <add key="username" value=""/>
    <add key="password" value=""/>
    <add key="priority" value="-1"/> <!--Values: -1/0/1 (Low/Normal/High)-->
    <add key="category" value="Non-Newzbin Stuff"/>
    <add key="ignoreSeasons" value="The Simpsons=20;Gossip Girl=2;The Hills=4;Without a Trace=7;Two and a Half Men=6;Law &amp; Order=14;One Tree Hill=6; Kath &amp; Kim (US)=10"/>
    <add key="rssUrl" value="https://www.newzbin.com/search/?go=1&amp;ss=454082&amp;fpn=p&amp;feed=rss&amp;fauth=YOUR AUTH HERE"/>
    </appSettings>
</configuration>