<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="tvDir" value="W:\Test"/>
    <add key="logDir" value="C:\Logs"/>
    <add key="sabnzbdInfo" value="192.168.5.55:2222"/>
    <add key="apiKey" value="5c770e3197e4fe763423ee7c392c25d1"/>
    <add key="userName" value=""/>
    <add key="password" value=""/>
    <add key="priority" value="0"/>
    <add key="category" value="Non-Newzbin Stuff"/>
    <add key="ignore" value="Setup Seasons to Ignore"/>
    <add key="rssUrl" value="https://www.newzbin.com/search/?go=1&amp;ss=454082&amp;fpn=p&amp;feed=rss&amp;fauth=NTcwMTIwLTE2M2UyNDFmNDk2NmI3Y2M3NjIzODMzMGUzMGQ3Y2YyMzVlNmM3YTk%3D"/>
    </appSettings>
</configuration>