<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="logDir" value="C:\Logs"/>
    <add key="movieDir" value="M:\"/>
    <add key="hdMovieDir" value="M:\_HD"/>
    <add key="ipodMovieDir" value="M:\iPod"/>
    
    <!--Append IMDB id to end of filename " [tt1234567]" -->
    <add key="imdb" value="true"/>

    <!--Overwrite movie if it already exists?" -->
    <add key="overwriteFile" value="false"/>
    
    <!--Delete Movie Folder?-->
    <add key="deleteFolder" value="true"/>
    <!-- Update XBMC Library?-->
    <add key="updateXbmc" value="true"/>
    <!-- Send Popup to XBMC?-->
    <add key="notifyXbmc" value="true"/>
    <!-- Clean XBMC Library after update & Notify?-->
    <add key="cleanLibrary" value="false"/>
    <!-- XBMC Path to Movies-->
    <add key="xbmcMoviePath" value="M:\"/>
    <!-- XBMC Path to HD Movies-->
    <add key="xbmcHdMoviePath" value="M:\_HD"/>
    <!-- XBMC Hostname/IP Address-->
    <add key="xbmcHost" value="192.168.5.35"/>
    <!-- XBMC Port-->
    <add key="xbmcPort" value="9777"/>
    <!-- XBMC OS is Windows?-->
    <add key="xbmcOsWindows" value="true"/>
  </appSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
