<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="logDir" value="C:\Logs"/>
    <add key="movieDir" value="W:\Test\Movies"/>
    <add key="hdMovieDir" value="W:\Test\Movies\_HD"/>
    <add key="ipodMovieDir" value="W:\Test\Movies\iPod"/>
    <!--Delete Movie Folder?-->
    <add key ="deleteFolder" value="true"/>
    <!-- Update XBMC Library?-->
    <add key ="updateXbmc" value="true"/>
    <!-- XBMC Path to Movies-->
    <add key ="xbmcMoviePath" value="W:\Test\Movies"/>
    <!-- XBMC Path to HD Movies-->
    <add key ="xbmcHdMoviePath" value="W:\Test\Movies\_HD"/>
    <!-- XBMC Hostname/IP Address-->
    <add key ="xbmcInfo" value="localhost:8080"/>
    <!-- XBMC HTTP Username-->
    <add key ="xbmcUsername" value="xbmc"/>
    <!-- XBMC HTTP Password-->
    <add key ="xbmcPassword" value="xbmc"/>
  </appSettings>
</configuration>
