<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!--Where to Put the Log File-->
    <add key="logDir" value="C:\Logs" />
    <!--Location to Store copies for later conversion-->
    <add key="tempDir" value="C:\Test\temp" />
    <!--Show names you want to move-->
    <add key="shows" value="30 Rock;Dexter;It's Always Sunny in Philadelphia;Curb Your Enthusiasm;South Park;30 Rock" />
    <!--Extension of the files that should be considered as video files-->
    <add key="videoExt" value=".mkv;.avi;.wmv" />
    <!-- Filename Only (after the last slash)-->
    <add key ="filenameTemplate" value="%sn - S%0sE%0e - %en.%ext"/>
    <!-- Update XBMC Library?-->
    <add key ="updateXbmc" value="true"/>
    <!-- Send Popup to XBMC?-->
    <add key ="notifyXbmc" value="true"/>
    <!-- Clean XBMC Library after update & Notify?-->
    <add key ="cleanLibrary" value="true"/>
    <!-- SABnzbd Full Path to TV Final Directory-->
    <add key ="downloadTvPath" value="W:\Test\"/>
    <!-- XBMC Path to TV Shows-->
    <add key ="xbmcTvPath" value="T:\"/>
    <!-- XBMC Hostname/IP Address-->
    <add key ="xbmcHost" value="192.168.5.35"/>
    <!-- XBMC Hostname/IP Address-->
    <add key ="xbmcPort" value="9777"/>
    <!-- XBMC Running on Windows (true) or Linux (false)-->
    <add key ="xbmcOsWindows" value="true"/>
  </appSettings>
</configuration>