<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="logDir" value="C:\Logs"/>
    <add key="movieDir" value="W:\Test\Movies"/>
    <add key="hdMovieDir" value="W:\Test\Movies\_HD"/>
    <add key="ipodMovieDir" value="W:\Test\Movies\iPod"/>
    <!--Delete Movie Folder?-->
    <add key ="deleteFolder" value="true"/>
    <!-- Update XBMC Library?-->
    <add key ="updateXbmc" value="false"/>
    <!-- Send Popup to XBMC?-->
    <add key ="notifyXbmc" value="true"/>
    <!-- Clean XBMC Library after update & Notify?-->
    <add key ="cleanLibrary" value="false"/>
    <!-- XBMC Path to Movies-->
    <add key ="xbmcMoviePath" value="W:\Test\Movies"/>
    <!-- XBMC Path to HD Movies-->
    <add key ="xbmcHdMoviePath" value="W:\Test\Movies\_HD"/>
    <!-- XBMC Hostname/IP Address-->
    <add key ="xbmcHost" value="192.168.5.111"/>
    <!-- XBMC Hostname/IP Address-->
    <add key ="xbmcPort" value="9777"/>
    <!-- XBMC Hostname/IP Address-->
    <add key ="xbmcOsWindows" value="true"/>
  </appSettings>
</configuration>
