<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="logDir" value="C:\Logs"/> <!--Log directory for this script-->
    <add key="addToUTorrent" value="false"/> <!--Should the torrent be sent to uTorrent for seeding?-->
    <add key="uTorrentExe" value="C:\Program Files (x86)\uTorrent\uTorrent.exe"/> <!--Should the torrent be sent to uTorrent for seeding?-->

    <add key="torrentDirectory" value="C:\Test\Torrents"/> <!--Location of .torrent files after creation-->

    <add key="torrentTrackers" value="http://localhost:50011/announce"/> <!--A list of semi-colon separated trackers-->
    <add key="torrentPrivate" value="false"/> <!--Should the Torrent be set as private? (Disables DHT and Peer Exchange)-->

    <!--This is currently not used (What type of comms is to be used? POST, FTP or SAMBA (CIFS)-->
    <add key="uploadToServer" value="false"/><!--Should the torrent be sent to the server after creation?-->
    <add key="serverAddress" value="localhost"/><!--Address of server to upload .torrent file to-->
    <add key="serverPort" value="80"/><!--Port to connect to the server-->
    <add key="serverUsername" value="mark"/><!--Username to connect to the server-->
    <add key="serverPassword" value="pass"/><!--Password to connect to the server-->
    
  </appSettings>
</configuration>
